<div id = "editVisitModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="m-t-none m-b ">修改访客登记</h3>
                <div class="ibox-content">
                    <div>
                        <div>
                            <div class="form-group row">
         <label class="col-sm-2 col-form-label">访客姓名</label>
         <div class="col-sm-10">
           <input v-model="editVisitInfo.name"                   type="text" placeholder="必填，请填写访客姓名" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">访客性别</label>
         <div class="col-sm-10">
           <input v-model="editVisitInfo.visitGender"                   type="text" placeholder="选填，请填写访客性别" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">访客电话</label>
         <div class="col-sm-10">
           <input v-model="editVisitInfo.phoneNumber"                   type="text" placeholder="必填，请填写访客电话" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">目标业主</label>
         <div class="col-sm-10">
           <input v-model="editVisitInfo.ownerId"                   type="text" placeholder="必填，请填写目标业主" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">来访事由</label>
         <div class="col-sm-10">
<textarea  placeholder="必填，请填写来访事由" class="form-control" v-model="editVisitInfo.case"></textarea>         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">来访时间</label>
         <div class="col-sm-10">
           <input v-model="editVisitInfo.visit_time"                   type="text" placeholder="必填，请填写来访时间" class="form-control">
         </div>
</div>
<div class="form-group row">
         <label class="col-sm-2 col-form-label">离开时间</label>
         <div class="col-sm-10">
           <input v-model="editVisitInfo.departure_time"                   type="text" placeholder="必填，请填写离开时间" class="form-control">
         </div>
</div>

                            <div class="ibox-content">
                                <button class="btn btn-primary float-right" type="button" v-on:click="editVisit()" ><i class="fa fa-check"></i>&nbsp;保存</button>
                                <button type="button" class="btn btn-warning float-right" style="margin-right:20px;" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
